miniserver_gateway/venv/
miniserver_gateway/for_tests.py
miniserver_gateway/f_test.py
miniserver_gateway/develop_tests/
miniserver_gateway/logs/*
miniserver_gateway/config/connected_devices.json
miniserver_gateway/storage/data/
.idea/
/build/
/deb_dist/
/dist/
/.mypy_cache/
/miniserver_gateway/storage/data_out/
*.gz
/logs/
/python3-thingsboard-gateway.deb
/python3-thingsboard-gateway.rpm
/miniserver_gateway.egg-info/
/docker/python3-thingsboard-gateway.deb
/data/
__pycache__
/miniserver_gateway/config/
/venv/